@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@300&family=Inter:wght@300;400;500;600;700&display=swap');

body,
* {
  font-family: 'Inter', sans-serif;
}

h1,
h2 {
  font-family: 'Bitcount', sans-serif;
  font-weight: 300;
  line-height: 1.2;
}
