@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@300&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700');

h1,
h2 {
  font-family: 'Bitcount', sans-serif;
  font-weight: 300;
  line-height: 1.2;
}
